// swift-tools-version: 6.4
import PackageDescription

let package = Package(
    name: "DryvBackend",
    products: [
        .library(name: "DryvBackend", targets: ["DryvBackend"]),
    ],
    dependencies: [
        .package(url: "https://github.com/vapor/vapor.git", exact: "4.122.2"),
    ],
    targets: [
        .target(
            name: "DryvBackend",
            dependencies: [
                .product(name: "Vapor", package: "vapor"),
            ]
        ),
    ]
)
