# frozen_string_literal: true

module {{ pack.inputs.module_name }}
  module {{ file.symbol }}
    MODELS = [
{%- for dependency in file.dependencies %}{% if dependency.symbol and not dependency.is_self %}
      {{ dependency.symbol }},
{%- endif %}{% endfor %}
    ].freeze

    module_function

    def create_schema(db)
      MODELS.each { |model| model.create_table(db) }
      MODELS.each { |model| model.add_foreign_keys(db) }
      nil
    end

    def bind(db)
      MODELS.each { |model| model.bind(db) }
      MODELS.each(&:configure_associations)
      nil
    end
  end
end
