defmodule DryvEctoValidation.MixProject do
  use Mix.Project

  def project do
    [
      app: :dryv_ecto_validation,
      version: "0.1.0",
      elixir: "~> 1.15",
      deps: deps()
    ]
  end

  def application do
    [extra_applications: [:logger]]
  end

  defp deps do
    [
      {:ecto, "3.14.2"}
    ]
  end
end
