/// Route paths of the {{ feature.name.title }} screens.
abstract final class {{ file.symbol }} {
{%- for view in views %}
  /// {{ view.description or view.name.title }}
  static const String {{ view.name.camel }} = '/{{ view.group.name.kebab }}/{{ view.name.kebab }}';
{%- endfor %}
}
