import 'package:go_router/go_router.dart';

import '../../../core/network/app_network_gate.dart';
import '../../routers/_utils.dart';
import '../../routers/constants/{{ feature.name.snake }}_screens.dart';
{%- for view in views %}
import '{{ view.name.snake }}_screen.dart';
{%- endfor %}

/// Routes of the {{ feature.name.title }} screens.
final {{ file.symbol }} = <GoRoute>[
{%- for view in views %}
  GoRoute(
    path: {{ feature.name.pascal }}ScreensRoutes.{{ view.name.camel }},
    pageBuilder: (context, state) => fadeTransition(
      child: const AppNetworkRequiredGate(
        title: '{{ view.name.title }}',
        child: {{ view.name.pascal }}Screen(),
      ),
    ),
  ),
{%- endfor %}
];
