defmodule DryvElixirClient.MixProject do
  use Mix.Project

  def project do
    [
      app: :dryv_elixir_client,
      version: "0.1.0",
      elixir: "~> 1.15",
      deps: deps()
    ]
  end

  def application do
    [extra_applications: [:logger]]
  end

  defp deps do
    [
      {:req, "0.7.4"},
      {:jason, "~> 1.4"}
    ]
  end
end
