defmodule DryvPhoenixBackend.MixProject do
  use Mix.Project

  def project do
    [
      app: :dryv_phoenix_backend,
      version: "0.1.0",
      elixir: "~> 1.15",
      deps: deps()
    ]
  end

  def application do
    [extra_applications: [:logger]]
  end

  defp deps do
    [
      {:phoenix, "1.8.15"},
      {:jason, "~> 1.4"}
    ]
  end
end
