opam-version: "2.0"
name: "dryv-ocaml-client"
version: "0.1.0"
synopsis: "Generated Dryv OCaml HTTP client"
depends: [
  "ocaml" {>= "4.13"}
  "dune" {>= "3.17"}
  "cohttp-lwt-unix" {= "6.3.0"}
  "lwt" {>= "5.3.0"}
  "yojson" {= "3.0.0"}
  "uri" {>= "4.0.0"}
]
build: [["dune" "build" "-p" name "-j" jobs]]
