{-# LANGUAGE DataKinds #-}
{-# LANGUAGE DerivingStrategies #-}
{-# LANGUAGE FlexibleInstances #-}
{-# LANGUAGE GADTs #-}
{-# LANGUAGE GeneralizedNewtypeDeriving #-}
{-# LANGUAGE MultiParamTypeClasses #-}
{-# LANGUAGE QuasiQuotes #-}
{-# LANGUAGE StandaloneDeriving #-}
{-# LANGUAGE TemplateHaskell #-}
{-# LANGUAGE TypeFamilies #-}
{-# LANGUAGE UndecidableInstances #-}

module Dryv.Persistence where

import Database.Persist.TH

share
  [ mkPersist sqlSettings
  , mkMigrate "migrateAll"
  ]
  $(persistManyFileWith lowerCaseSettings
      [
{%- for item in file.exports %}
        {{ item.path.relative | tojson }}{% if not loop.last %},{% endif %}
{%- endfor %}
      ])
