{-# LANGUAGE OverloadedStrings #-}

module Dryv.Generated.Models.{{ group.name.pascal }}.{{ property.enum.name.pascal }}
  ( {{ file.symbol }}(..)
{%- for item in property.enum.values %}
  , {{ item.name.camel }}
{%- endfor %}
  , all{{ file.symbol }}Values
  ) where

import Data.Aeson (FromJSON(..), ToJSON(..), Value(..))
import Data.Scientific (fromFloatDigits)
import Data.Text (Text)

newtype {{ file.symbol }} = {{ file.symbol }} { un{{ file.symbol }} :: Value }
  deriving (Eq, Show)

{%- for item in property.enum.values %}
{{ item.name.camel }} :: {{ file.symbol }}
{{ item.name.camel }} = {{ file.symbol }} ({% if item.value is boolean %}Bool {% if item.value %}True{% else %}False{% endif %}{% elif item.value is integer %}Number {{ item.value }}{% elif item.value is float %}Number (fromFloatDigits ({{ item.value }} :: Double)){% elif item.value is string %}String {{ item.value | tojson }}{% else %}Null{% endif %})
{%- endfor %}

all{{ file.symbol }}Values :: [{{ file.symbol }}]
all{{ file.symbol }}Values =
  [
{%- for item in property.enum.values %}
    {{ item.name.camel }}{% if not loop.last %},{% endif %}
{%- endfor %}
  ]

instance FromJSON {{ file.symbol }} where
  parseJSON value =
    let candidate = {{ file.symbol }} value
    in if candidate `elem` all{{ file.symbol }}Values
         then pure candidate
         else fail "invalid {{ property.enum.name.local }} value"

instance ToJSON {{ file.symbol }} where
  toJSON = un{{ file.symbol }}
