import { Module } from "@nestjs/common";

{%- for dependency in file.dependency_groups.operation_server %}
import { {{ dependency.symbol }} } from "./{{ dependency.path.relative }}";
{%- endfor %}

@Module({
  imports: [
{%- for dependency in file.dependency_groups.operation_server %}
    {{ dependency.symbol }},
{%- endfor %}
  ],
})
export class AppModule {}
